/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */





:root{
    /* ===== Colors ===== */
    --body-color:#ffffff ;
    --sidebar-color: #d7d6d6; 
    /* --sidebar-color: #9bb69c; */
    --primary-color: #8F4C32;
    --primary-color-light: #121213;
    --toggle-color: #DDD;
    --text-color: #707070;
    --content-color: #000000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


/* body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
} */
.Menu .menu-links{
    margin-left: -40px;
}
.Menu .bx-log-out{
    margin-left: -10px;
}
.Menu .bx-searchs{
 margin-left: -8px;

}
.Menu .moon{
    margin-left: -px;
}
.Menu .mode-text{
    margin-left: -14px;
}
.Menu .switch{
    margin-left: 10px;
}
.Menu .bottom-content{
    position: relative;
    bottom: 20px;
    
}

.Menu .mode{
    position: relative;
    bottom: 5px;
}
.Menu ::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #3a3b3c;
    --text-color: #ccc;
    --content-color: #fff;

}

/* ===== Sidebar ===== */
.Menu .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    /* background-color: #d7d6d6; */
}
.Menu .sidebar.close{
    width: 80px;
}

.Menu .sidebareee{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    /* background-color: #ffffff; */
}
.Menu .sidebareee.close{
    width: 88px;
}
/* ===== Reusable code - Here ===== */
.Menu .sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.Menu .sidebar header .image,
.Menu .sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.Menu .sidebar .icon{
    min-width:60px;
    border-radius: 6px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.Menu .sidebar .textMenu,
.Menu .sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.Menu .sidebar .textMenu{
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.Menu .sidebar.close .textMenu{
    opacity: 0;
}
/* =========================== */

.Menu .sidebar header{
    position: relative;
}
.Menu .sidebar header .image-text{
    display: flex;
    align-items: center;
}
.Menu .sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
.Menu header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
.Menu header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.Menu .sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu .sidebar header .image img{
    margin-left: -10px;
    width: 40px;
    border-radius: 6px;
}
.Menu .sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
    
}
.Menu body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.Menu .sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
    
}
.Menu .sidebar .menu{
    margin-top: 20px;
}
/* .Menu .sidebar li.search-box{
    border-radius: 6px;
    height: 40px;
    background-color: var(--toggle-color);
    cursor: pointer;
    transition: var(--tran-05); */
/* } */
.Menu .sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--toggle-color);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.Menu .sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.Menu .sidebar li a:hover {
    background-color: var(--primary-color);
    
}
.Menu .sidebar li a:hover .icon,
.Menu .sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.Menu body.dark .sidebar li a:hover .icon,
.Menu body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.Menu .sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: scroll; */
}
.Menu .menu-bar::-webkit-scrollbar{
    display: none;
}
.Menu .sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--toggle-color);
    position: relative;
    transition: var(--tran-05);
    /* background-color: #d4cece; */
}
.Menu .menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
    margin-top: 22px;
    margin-left: -10px;
}
.Menu .mode .sun-moon i{
    position: absolute;
}
.Menu .mode .sun-moon i.sun{
    opacity: 0;
}
.Menu body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
.Menu body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.Menu .menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.Menu .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    bottom: 2px;
    border-radius: 25px;
    background-color: var(--text-color);
    transition: var(--tran-09);
    /* background-color: white; */
}
.Menu .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
    /* background-color: #d4cece; */
}
body.dark .switch::before{
    left: 20px;
}
.Menu .home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.Menu .home .textMenu{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
