
/*------------------------------- Pop --------------------------------*/
.popup{
   background: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 1;
   padding-left: 7%;
 

}
/* ----------------- Section 1 ------------------- */


.AjouterPublication{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /* display: none; */
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-left: 7%;
}
.AjouterPublication .EmplacementAjouterPublication{
    margin-bottom: 400px;
}




/* ----------------- Section 2 ------------------- */


.AjouterPublication .wrapper{
    margin-bottom: 400px;

   
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: 2px dashed #c2cdda;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.AjouterPublication .wrapper .image{
    position: absolute;
    width: 60%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.AjouterPublication .wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.AjouterPublication .wrapper .image video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.AjouterPublication .wrapper .icon{
    font-size: 100px;
    color: #9658fe;
    position: relative;
    bottom: 60px;
}


.AjouterPublication .wrapper .text{
    color: #5b5b7b;
}


.AjouterPublication .wrapper .cancel-btn{
    /* position: absolute; */
    /* right: 1px; */
    /* top: 1px; */
    cursor: pointer;
    color: #9658fe;
    /* display: none; */
    position: relative;
    left: 145px;
    bottom: 123px;


}

.AjouterPublication .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    display: none;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);

}

/* #custom-btn{
    margin-top: 30px;
    width: 500px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);

}
 */

 .AjouterPublication .AddPub{
    position: relative;
    bottom: 90px;
   
    width: 600px;
    background-color: var(--body-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .4s;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);



    /* -------- Details --------- */
/* 
    z-index: 9999;
    position: fixed;
    left: 30%;
    top: 0;
    bottom: 50;
    width: 50%;
    height: 50%; */

       

}

/* .Model{
    z-index: 9999;
    position: fixed;
    left: 30%;
    top: 0;
    bottom: 50;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5) ; 
} */
/* .Model2{
    visibility: hidden; 
}


.Model3{
    visibility: hidden;
} */
/* ---------------------- ------ Exemple -------------------------------- */

/* .container > {
   background-color: #a8a6b3;

} */


.AjouterPublication .choix-button{
    
    width: 40px;
    height: 40px;
    background-color: #006e58;
    color: #fff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;

}

.AjouterPublication .choix-button > .button__icon_1 {
    font-size: 20px;
}


.AjouterPublication .choix-button2{
    width: 40px;
    height: 40px;
    background-color: #c1782b;
    color: #fff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;

}

.AjouterPublication .choix-button2 > .button__icon_1 {
    font-size: 20px;
}




.AjouterPublication .Envoyer-button{
    width: 50px;
    height: 50px;
    background-color: #2bc174;
    color: #fff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;

}




.AjouterPublication .Envoyer-button > .button__icon_3 {
    font-size: 24px;
}


/* -------------------------------- section 3 ------------------------------------ */



[placeholder]{
    font-style: italic;
}


/* .AjouterPublication .AddPub:hover{
    transform: scale(1.1);
}  */



.AjouterPublication .cancel-btn1{
    position: relative;
    left: 94%;
    cursor: pointer;
   color: #9658fe;

}
.AjouterPublication .cancel-btn1 > span{
    font-size: 34px;
}


.AjouterPublication .cancel-btn > span{
    font-size: 34px;
}